body{
  background: linear-gradient(
    to left,
    #3c4043 0%,
    #3c4043 50%,
    #ffc107 50%,
    #ffc107 100%
  );
}
#container_app{
width: 500px;
border: 1px solid black;
margin: auto;
text-align: center;
margin-top: 10%;
}
select{
	text-align: center;
}